*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    font-size: 16px;
    color: #333;
  }

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: rgba(255, 0, 0, 0.74);
    padding-top: 32px;
    color: #fff;
}

header > .container, 
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.Sobre ul {
    display: flex;
    list-style: none;
}

.Sobre ul li {
    margin-right: 16px;
}

.Sobre ul li a {
    color: #fff;
    text-decoration: none;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista-produtos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-produtos li img {
    max-width: 100%;
}

.lista-produtos li h3 {
    margin: 0 5%;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8 0;
    border: none;
    background-color: rgba(255, 0, 0, 0.74);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

@media (min-width: 1024px) {
     body {
        font-size: 18px;
        color: #555;
     }
}

@media (max-width: 1023px) and (min-width: 641px) {
    body { 
        font-size: 14px;
        color: #777;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 12px;
        color:#999
    }
}